body{
    margin: 0;
    height: 100vh;
    color: white;
}

.container{
    height: 100vh;
    /* background-color: black; */
}

.container_menu_lateral{
    width: 25%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_linha_menu_lateral{
    width: 90%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    /* background-color: blue; */
    border: 2px solid #E0C066;

}

.logo_botoes{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.logo_botoes img{
    width: 100%;
}

.logo_botoes b{
    color: #E0C066;
}

.botao_sair{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5%;
    /* background-color: green; */
}

.botao_sair button{
    font-weight: bold;
    color: #E0C066;
    border-color: #E0C066;
    background-color: transparent;
    width: 50%;
}