body{
    margin: 0;
    overflow: hidden;
    
}

.container{
    display: flex;
    height: 100vh;
    width: 100%;
    /* background-color: red; */
}

.container_cadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    background-color: white;
    
}

.container_cadastro h1{
    font-family: cinzel;
}

.container_cadastro img{
    /* background-color: black; */
    height: 25%;
    width: 50%;
}

.imagem_xadrez{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
}

.imagem_xadrez img{
    height: 100%;
    width: 100%;
}

button{
    font-weight: bold;
    border-radius: 6px;
    border: none;
    background-color: black;
    height: 4%;
    width: 50%;
    color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

button:hover{
    background-color: #E0C066;
    color: black;
}

input{
    border: none;
    border-radius: 4px;
    height: 4%;
    width: 49%;
    background-color: #D9D9D9;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding-left: 10px;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: gray;
}

::placeholder{
    
    font-weight: bold;
    font-size: 12px;
}