body{
    margin: 0;
    height: 100vh;
    color: white;
    font-family: cinzel;
}

.container{
    display: flex;
    height: 100vh;
    /* background-color: black; */
}

/* inicio_menu_lateral */
.container_menu_lateral{
    width: 25%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_linha_menu_lateral{
    width: 90%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    /* background-color: blue; */
    border: 2px solid #E0C066;

}

.logo_botoes{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.logo_botoes img{
    width: 100%;
}

.logo_botoes b{
    color: #E0C066;
}

.logo_botoes a{
    text-decoration: none;
    color: white;
}

.logo_botoes a:hover{
    text-decoration: none;
    color: #E0C066;
}

.logo_botoes h1{
    color: #E0C066;
}

.botao_sair{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5%;
    /* background-color: green; */
}

.botao_sair button{
    font-weight: bold;
    color: #E0C066;
    border-color: #E0C066;
    background-color: transparent;
    width: 50%;
}
/* fim_menu_lateral */

/* inicio dashboard */

.container_estatistica{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 75%;
    background-color: black;
}

.container_linha_estatistica{
    width: 98%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border: 2px solid #E0C066;
    color: #E0C066;
    gap: 20px;
}

.nivel_jogador{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* background-color: red; */
    width: 100%;

}

.container_barra_nivel_jogador{
    border-radius: 6px;
    background-color: transparent;
    border: 3px solid #E0C066;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
}


.container_kpis{
    width: 80.5%;
    height: 25%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
}

.kpi1, .kpi2, .kpi3, .kpi4, .kpi5{
    border-radius: 6px;
    background-color: transparent;
    border: 3px solid #E0C066;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 17%;
}

.kpi1 p, .kpi2 p, .kpi3 p, .kpi4 p, .kpi5 p{
    text-align: center;
}

.kpi1 h1, .kpi2 h1, .kpi3 h1, .kpi4 h1, .kpi5 h1{
    color: white;
}

.textoKpi{
    width: 100%;
    height: 50%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_grafico{
    width: 900px;
    height: 250px;
    border-radius: 6px;
    background-color: transparent;
    border: 3px solid #E0C066;
    display: flex;
    align-items: center;
    justify-content: center;
}


canvas{
    width: 10%;
}
/* fim dashboard */

/* HTML: <div class="loader"></div> */
.barra_nivel {
  width: 420px;
  height: 20px;
  border-radius: 20px;
  background:
   linear-gradient(#E0C066) 0/0% no-repeat
   black;
    animation: l2 50s infinite steps(10);
}
@keyframes l2 {

    100% {background-size:100%}
}